#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
}
.country{
    border: 1px solid rgb(156, 31, 31);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.country-name{
    font-size: 45px;
    color: rgba(45, 42, 221, 0.678);
}
#countryDetail img{
    width: 200px;
}